/* blockquote#block-q {
  border-left: 5px solid hsl(13, 75%, 58%);
  padding-left: 1.5em;
  padding-right: 1em;
  margin: 1.2em;
  background-color: hsl(0, 0%, 96%);
  border-radius: 5px;
  width: 90%;
} */

code#code_styled {
  color: hsl(13, 75%, 58%) !important;
  font-family: "Roboto mono", monospace !important;
}

:is(h3, h4, h5, h6)>code#code_styled {
  font-size: calc(100% - 2px);
}

code.code-block {
  background-color: hsla(0, 0%, 9%, 1);
  font-family: "Roboto mono", monospace !important;
  color: lightsteelblue;
  font-size: 16px;
  padding: 20px;
  width: fit-content;
  max-width: 100%;
  border-radius: 3px;
  word-break: break-all;
}

.hljs-keyword {
  color: cornflowerblue !important;
}

.hljs-string {
  color: palegreen !important;
}

.hljs-title {
  color: hsla(197, 82%, 123%, 1) !important;
}

.hljs-tag {
  color: royalblue !important;
}

.hljs-name {
  color: royalblue !important;
}

.hljs-variable {
  color: hsla(294, 71%, 66%, 1) !important;
}

.hljs-attr {
  color: white !important
}

#code-holder {
  display: flex;
}

.hljs-title.function_ {
  color: palegoldenrod !important;
}

.hljs-title.class_ {
  color: palevioletred !important;
}

.hljs-regexp,.hljs-number {
  color: red !important;
}

hr {
  opacity: 0.5;
}

a.foot-back {
  text-decoration: none;
}

